<p data-controller="hello">
  Zzzzz...
</p>

<div data-controller="toggle-exercise" data-toggle-exercise-change-class="hidden">
  <button data-action="toggle-exercise#toggle">Click me!</button>
  <span data-toggle-exercise-target="smile">☺</span>
</div>