<!-- exercise 1 -->
<p data-controller="hello">
  Zzzzz...
</p>

<!-- exercise 2 -->
<div data-controller="exercise" data-exercise-change-class="hidden">
  <button data-action="exercise#toggle">Click me!</button>
  <span data-exercise-target="toToggle">☺</span>
</div>

<!-- exercise 3 -->
<div data-controller="exercise" data-exercise-change-class="hidden">
  <button data-action="exercise#toggle">Show me!</button>
  <span data-exercise-target="toToggle" class="hidden">☹</span>
</div>

<div data-controller="exercise" data-exercise-change-class="hidden">
  <button data-action="exercise#toggle" data-exercise-target="toToggle">Bye!</button>
  <span data-exercise-target="toToggle" class="hidden">*poof*</span>
</div>

<div data-controller="exercise" data-exercise-change-class="highlight">
  <span data-exercise-target="toToggle">
    <input type="checkbox" data-action="exercise#toggle"> check
  </span>
</div>

<!-- exercise 4-->
<div data-controller="inputlength" data-inputlength-warn-class="hidden">
  <div><span data-inputlength-target="warning" class="hidden highlight">Input too long!</span></div>
  <textarea data-inputlength-target="input" data-action="inputlength#toggle" id="dummy" cols="30" rows="10"></textarea>
</div>
